{% extends 'crm_app/main_template.html' %}

{% block content %}

<br>

		<div class="row p-3">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>Price</th>
                            <th>Tags</th>
						</tr>
                        {% for i in product%}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.category}}</td>

                            {% if i.price > 4500%}
                            <td> Greater than 4500 </td>
                            {% else %}
                            <td>{{i.price}}</td>
                            {% endif %}
                        </tr>
                        {% endfor%}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock%}